body {
	background-color: white;
}
.contenido {
	background-color: green;
	height: 375px; 
	width: 90% ; 
	color: white; 
	font-size: 17px;
	margin-top: 20px;
	padding: 10px;
}
header {
	font-size: 30px;
	padding: 10px;
}
.contenedor {
	background-color: lightblue; 
	height: 100%;
}

.menu {
	float: right; 
	background-color: orange;
	width: 10%; 
	height: 375px;
	margin-top: 20px;
	padding: 10px;
}
.menu p {
	margin-left: 10px;
	margin-top: 30px;
}
nav {
	margin-left: 10px; 
	margin-top: 10px;
}
.footer {
	background-color: black; 
	height: 80px; 
	font-size: 17px; 
	color: white;
	padding: 10px;
}
