img {
	margin-left: 30%;
	margin-top: 10px;
}

h2 {
	text-align: center;
}

body {
	background-color: white;
}

*{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

.contenido {
  border-style: ;
  border-color: violet;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  overflow: hidden;
   background-color: rgba(255, 255, 255, 0.8);
    }    

.marco {
      display: grid;
      border-style: solid;
      border-color: red;
      overflow: visible;
      grid-template-columns: 250px auto;
      grid-template-rows: 150px 40px auto 40px;
      grid-gap: 10px;
      width: 100vw;
      height: 100vh;
    }

footer {
	grid-column: 2 / span 1;
 	grid-row: 3 / span 1;
 	display: grid;
 	border-color: red;
 	border-style: solid;
}    
    
.encabezado {
  border-style: solid;
  border-color: blue;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
    background-color: white;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


.active {
  background-color: #4CAF50;
}

footer {
	text-align: center;
	color: gray;
}    
    
    @media screen and (max-width:600px){
      /* reparamos el estilo para pantallas estrechas */
      
      .navbar, .navbar a, .navbar>div, .dropbtn {
        width:100%;
        float: none;
        display:block;
      }
        .dropdown-content a{
        display:none;
      }

