*{	box-sizing: border-box; 
	padding: 0;
	margin: 0;
}

.marco {
	display: grid;
	border-style: ;
	border-color: red;
	grid-template-columns: 250px auto;
	grid-template-rows: 150px 40px auto 40px;
	grid-gap: 10px;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: #ECEFF1;
}
		
.encabezado {
	border-style: ;
	margin: 5px;
	border-color: blue;
	grid-column: 1 / span 4;
	grid-row: 1 / span 8;
	overflow: hidden;
}

.encabezado img {
	width: 100%;

}

.lado {
	border-style: ;
	background-color: #d7dfe0;
	border-color: violet;
	grid-column: 4 / span 1;
	grid-row: 11 / span 2;
	margin: 5px;
	margin-bottom: 100px;
}

.lado i {
	margin-left: 10px;
	font-size: 16px;
}

.lado h2 {
	margin-left: 70px;
	margin-top: 20px;
}

.lado svg {
	margin-left: 50px;
}

.lado p {
	margin-left: 20px;
	margin-right: 20px;
}
		
.contenido {
	border-style: ;
	border-color: violet;
	grid-column: 1 / span 3;
	grid-row: 11 / span 2;
	margin: 5px;
	background-color: #f8f9fa; 
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 100px;
}

.contenido img {
	width: 50%;
	border-radius: 4px;
	margin-left: 180px;
	margin-top: 10px;
}

.pie {
	border-style: ;
	border-color: aqua;
	grid-column: 1 / span 4;
	grid-row: 12 / span 1;	

}

.pie p {
	text-align: center;
	color: white;
	background-color: #333;
	font-size: 16px;
	padding: 10px;
}

.pie a {
	margin-left: 50px;
	margin-right: 50px;
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.pie a:hover {
	color: skyblue;
}


nav {
	margin: 27px auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
 h1 {
	text-align: center;
	font-size: 30px;
	color: white;
	margin-top: 0px;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

.contenido p {
    bottom: 20px;
    width: 100%;
    text-align: left;
    color: ;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

.presentacion p {
	    bottom: 20px;
    width: 100%;
    text-align: center;
    color: ;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

.contenido button {
	background-color: #34495e;
	width: 300px;
	margin-left: 250px;
}

.contenido button>a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;

}

.contenido a:hover {
	color: skyblue;
}

span {
    color: #2BD6B4;
}

/*CSS DEL FORMULARIO**/

body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493; 
}

.contact_form{
  height: auto;
  margin: 0px;
  margin-left: 20%;
  border-radius: 10px;  
  padding-top: 0px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 0px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #34495e; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

	 
textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: ; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


.formulario button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px; 
  margin-left: 0%;  
  text-transform: uppercase;
  background-color: #34495e; 
  border-color: #34495e; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}

.formulario button:hover {
	background-color: skyblue;
	border-color: skyblue;
}

button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #34495e; 
  border-color: #34495e; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}

button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: left; 
  padding-bottom: 20px; 
  color: white;
  margin-top: 1px;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
  text-align: center;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.ruta p {
	margin-left: 370px;
	margin-top: 40px;
	font-size: 18px;
}

.logout {
	border-style: ;
	background-color: #ECEFF1;
	border-color: blue;
	grid-column: 3 / span 2;
	grid-row: 9 / span 2;
	margin-left: 100px;
	margin-right: 20px;
}

.logout p {
	margin-top: 20px;
	margin-left: 10px;
}

.logout button {
	width: 120px;
	background-color: gray;
	border-color: gray;
	margin-left: 20%;
}

.logout button:hover {
	background-color: #76b852;
	border-color: #76b852;
}
