*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
		
.marco {
	display: grid;
	border-style: solid;
	border-color: red;
	grid-template-columns: 250px auto;
	grid-template-rows: 150px 40px auto 40px;
	grid-gap: 10px;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: #ECEFF1;
}
		
.encabezado {
	border-style: solid;
	border-color: blue;
	grid-column: 1 / span 4;
	grid-row: 1 / span 1;
	overflow: hidden;
	margin-bottom: 0px;
}

.lado {
	border-style: solid;
	border-color: violet;
	grid-column: 4 / span 1;
	grid-row: 3 / span 1;
	margin: 5px;
}

.lado2 {
	border-style: solid;
	border-color: violet;
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
	margin: 5px;
}
		
.contenido {
	border-style: ;
	border-color: violet;
	grid-column: 2 / span 2;
	grid-row: 3 / span 1;
	margin: 5px;
	background-color: #f8f9fa; 
	border-radius: 3px;
}

.pie {
	border-style: solid;
	border-color: aqua;
	grid-column: 1 / span 4;
	grid-row: 4 / span 1;
	text-align: center;
	color: white;
	background-color: #333;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 5px;
  margin-top: 95px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

